body {
    margin: 0;
    padding: 0;
    background-color: #CD985b;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, Arial, sans-serif;
    color: #fff;
    text-align: center;
  }
  .bingkai {
    max-width: 1190px;
    position: relative;
    margin: 0 auto;
}

  .not-found {
    width: 560px;
    height: 225px;
    margin-left: -230px;
  }
  .starry-sky {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .search-icon {
    display: inline-block;
  }
  .notfound-copy {
    color: #fff;
    position: absolute;
    margin: auto;
    top: 60px;
    left: 440px;
  }
  .notfound-copy .btn {
    outline: none;
    border: none;
    background: #FFF;
    box-shadow: 5px 8px #FFEAD1;
    padding: 12px;
    border-radius: 20px;
    color: #CD985b;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
  }
  .notfound-copy .btn:hover {
    background: #FFEAD1;
    box-shadow: 5px 8px #ffd6a4;
  }
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
  /* change to alternating star opacities */
  .all-stars {
    animation: blinkblink 7s linear infinite;
  }
  
  @keyframes blinkblink {  
    50% { opacity: 0.1; }
  }