@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .bingkai {
    max-width: 1190px;
    position: relative;
    margin: 0 auto;
}

body.dark-mode::-webkit-scrollbar {
    width: 17px;
    background-color: #393939;
}

body.dark-mode::-webkit-scrollbar-track {
    border: solid 0.2px transparent;
}

body.dark-mode::-webkit-scrollbar-thumb {
    border-radius: 13px;
    box-shadow: inset 0 0 10px 10px #CD985B;
    border: solid 5px transparent;
  }

body.dark-mode::-webkit-scrollbar-button:single-button {
    background-color: #393939;
    display: block;
    border: solid;
    border-color: #393939;
    height: 15px;
    width: 10px;
}

body.dark-mode {
    background: #2B2A29;
}

.header {
    box-sizing: border-box;
    justify-content: space-between;
    padding: 14px 17px 17px 17px;
    top: 0;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 30px;
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    z-index: 4;
    position: fixed;
    transition: 0.5s;
}

body.dark-mode .header {
    background-color: #1E1E1E;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8);
}

.toggle .logoprofil.activatee .biomenu {
    display: block;
}

.logoprofil {
    z-index: 100000;
    position: relative;
}

.biomenu {
    position: absolute;
    z-index: 1;
    top: 76px;
    left: -106px;
    display: none;
}

@keyframes biomenu {
    0% {
        height: 10px;
    }
    100% {
        height: 141.1px;
    }
}

@keyframes biotext {
    0% {
        margin-bottom: -15px;
        opacity: 0;
    }
    100% {
        margin-bottom: 15px;
        opacity: 0.8;
    }
}

.biomenu .bg {
    background: #fff;
    width: 148.21px;
    height: 141.1px;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    animation: biomenu 0.5s;
    transition: 0.5s;
    position: absolute;
}

body.dark-mode .biomenu .bg {
    background: #2B2A29;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.8);
}

.biomenu .bg .little {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 30px solid #fff;
    border-radius: 100px;
    transform: rotate(122deg);
    position: absolute;
    left: 80%;
    top: -4.9%;
    z-index: 1;
    /* box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    transition: 0.5s;
}

body.dark-mode .biomenu .bg .little {
    border-bottom: 30px solid #2B2A29;
}

.biomenu .title-bio {
    padding: 15px 15px 15px 20px;
}

.biomenu .title-bio div {
    margin-bottom: 15px;
    font-size: 14px;
    color: #181818;
    opacity: 0.8;
    animation: biotext 0.5s;
    transition: 0.5s;
}

.biomenu .title-bio div a:hover {
    color: #CD985B;
}

.biomenu .title-bio div a {
    text-decoration: none;
    color: #181818;
    transition: 0.4s;
}

body.dark-mode .biomenu .title-bio div a {
    color: #FFFFFF;
}
body.dark-mode .biomenu .title-bio div a:hover {
    color: #CD985B;
}

.header .search {
    margin-top: 1.3px;
    border-width: 1.78px;
    border-style: solid;
    border-color: #18181851;
    width: 700px;
    height: 34px;
    display: flex;
    border-radius: 7px;
    animation: menuKeluar2 0.7s;
    transition: 0.5s;
}

body.dark-mode .header .search {
    background-color: #1E1E1E;
    border-style: solid;
    border-color: #4f4f4f;
}

@keyframes menuKeluar2 {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

.header .search .searchicon {
    cursor: pointer;
    margin-top: -7px;
    padding: 0 0 0 12px;
    transition: 0.6s;
}

body.dark-mode .header .search .searchicon {
    filter: invert(20);
}

.header .srcinput input {
    outline: none;
    border: none;
    padding-top: 7.5px;
    position: absolute;
    margin-left: 12px;
    width: 630px;
    font-size: 13.5px;
    background: none;
}

body.dark-mode .header .srcinput input {
    color: #FFFFFF;
}

body .header .logo{
    width: 100px;
    float: left;
    margin-left: 0px 0px 0px 30px;
    margin-top: -2px;
    width: 145.27px;
    height: 38.25px;
    background-color: white;
    z-index: 1;
    transition: 0.5s;
}

body.dark-mode .logo {
    background-color: #1E1E1E;
}

.toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.switch {
    transform: scale(78%);
    position: relative;
    display: inline-block;
    width: 62px;
    height: 34px;
    margin-top: 2px;
    margin-right: 22px;
    margin-left: 30px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    /* background-color: #FFEAD1; */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4.9px;
    bottom: 4.5px;
    background-color: #5c5c5c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #DCDCDC;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #CD985B;
  }

  .slider.round:before {
    border-radius: 50%;
  }

.slider.round {
    border-radius: 34px;
  }

  .header .garis {
    margin-top: 3px;
    margin-right: 4px;
    margin-bottom: -10px;
}

.header .keranjang {
    margin-top: 1px;
    margin-right: -12px;
    cursor: pointer;
}

.logoprofil {
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 100000;
}

.logoprofil img {
    width: 37px;
}

.dropbtn {
    z-index: 5;
    position: fixed;
}

.dropbtn .line1{
    /* border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #CD985b; */
    width: 20px;
    border: #CD985B;
    border-width: 1px;
    border-style: solid;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.25s;
    background: none;
}

.dropbtn .line2 {
    width: 20px;
    border: #CD985B;
    border-width: 1px;
    border-style: solid;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.25s;
    background: none;
}

.dropbtn .line3 {
    width: 20px;
    border: #CD985B;
    border-width: 1px;
    border-style: solid;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.25s;
    background: none;
}

.dropdown.activate .dropbtn .line1{
    margin-top: 16px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #CD985B;
}

.dropdown.activate .dropbtn .line2{
    margin-top: -2.1px;
    background-color: #CD985B;
    width: 20px;
    transform: rotate(-45deg);
}

.dropdown.activate .dropbtn .line3{
    margin-top: -2px;
    opacity: 0;
    background-color: #CD985B;
    transform: rotate(45deg);
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.dropdown-content {
    border-radius: 7px;
    margin: 90px 20px 0 20px;
    display: none;
    height: 270px;
    width: 195px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.2);
    transition: 0.65s;
    animation: menuKeluar 0.65s;
}

body.dark-mode .dropdown-content {
    background-color: #1E1E1E;
    box-shadow: 4px 1px 15px -3px rgba(0,0,0,0.9);
}

@keyframes menuKeluar {
    0% {
        /* transform: scale(0%); */
        opacity: .5;
        height: 100px;
    }
 
    100% {
        /* transform: scale(100%); */
        opacity: 1;
        height: 270px;
    }
 }

 @keyframes contentdrop {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
 }
 @keyframes contentdrop2 {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
 }

 .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding-left: 45px;
    transition: 0.8s;
}

.dropdown-content .first {
    animation: contentdrop 1s;
}
.dropdown-content .scnd {
    animation: contentdrop2 1.3s;
}

body.dark-mode .dropdown-content a {
    color: white;
}

body.dark-mode .dropdown-content p {
    color: white;
}

.dropdown-content p {
    padding: 24px 50px 1px 21px;
    padding-left: 30px;
    font-size: 9px;
    transition: 0.5s;
}

.dropdown-content a:hover {
    background-color: #CD985b;
    color: #FFFFFF;
    z-index: 100;
    cursor: pointer;
}

.dropdown-content:hover {
    display: block;
}

.logoo{
    margin-left: 45px;
    display: flex;
    transition: 0.65s;
}

@keyframes KeluarSamping {
    0% {
        transform: translateX(-13%);
        opacity: 0.4;
    }
 
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
 }
 @keyframes KeluarSamping2 {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
 
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
 }
 @keyframes KeluarSamping3 {
    0% {
        transform: scale(55%);
        opacity: 0;
    }
 
    100% {
        transform: scale(85%);
        opacity: 1;
    }
 }

.shop {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    margin-left: 250px;
    transform: scale(90%);
}

.shop .item img {
    width: 350px;
    animation: KeluarSamping2 0.7s;
}

.shop .item .banner {
    height: 80px;
    width: 350px;
    border-radius: 8px;
    background: #DCDCDC;
    margin-top: 15px;
    animation: KeluarSamping2 1.6s;
}

.shop .item-info {
    transform: scale(85%);
    margin-left: 0px;
    margin-top: -40px;
    animation: KeluarSamping3 1.2s;
}

.shop .item-info h2 {
    font-size: 30px;
    padding-right: 320px;
    transition: 0.4s;
}

body.dark-mode .shop .item-info h2 {
    color: #fff;
}

.shop .item-info .sub {
    display: flex;
    flex-direction: row;
    color: #747474;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    transition: 0.5s;
}

.terjual {
    color: #747474;
    opacity: 60%;
    transition: 0.5s;
}

body.dark-mode .shop .item-info .sub {
    color: #C0C0C0;
}

body.dark-mode .terjual {
    color: #C0C0C0;
}

.shop .item-info .price {
    font-size: 38px;
    font-weight: 700;
    transition: 0.5s;
}

body.dark-mode .shop .item-info .price {
    color: #fff;
}

.shop .card {
    margin-top: 30px;
    border-style: solid;
    border-color: #74747492;
    border-width: 3.5px;
    border-radius: 10px;
    width: 400px;
    height: 340px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 15px;
}

.shop .card h2 {
    margin-right: -250px;
    padding-top: 7px;
    transition: 0.5s;
}

body.dark-mode .shop .card h2 {
    color: #fff;
}

.shop .card .number {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 42px;
    width: 130px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2.4px;
    border-color: #74747492;
}

.shop .card .number .negatif {
    margin-right: -32px;
    margin-top: 5px;
    margin-left: 13px;
    cursor: pointer;
    z-index: 1;
    transition: 0.4s;
}

.shop .card .number .plus {
    padding: 0px 10px 10px 9.1px;
    margin-left: -180px;
    font-size: 23px;
    color: #CD985B;
    font-weight: 700;
    margin-top: 2.5px;
    margin-right: 4px;
    width: 32px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFEAD1;
    cursor: pointer;
    transition: 0.4s;
}

.shop .card .number .plus:hover {
    color: #FFEAD1;
    background-color: #CD985B;
}

.shop .card .number .negatif:hover {
    opacity: .6;
}

.shop .card .number input {
    padding: 3px 0px 3px 57px;
    font-size: 20px;
    border-style: none;
    outline: none;
    background-color: #ffffff00;
    transition: 0.6s;
}

body.dark-mode .shop .card .number input {
    color: #fff;
}

.shop .card .terjual {
    display: flex;
    opacity: 100%;
    color: #74747492;
    justify-content: space-between;
    margin: 20px 20px 20px 0;
    font-size: 20px;
    font-weight: 600;
}

.shop .card .terjual .harga {
    color: #000000;
}

.shop .card .btn-1 {
    margin-right: 15px;
    border-style: none;
    background-color: #CD985B;
    color: #FFEAD1;
    font-size: 19px;
    font-weight: 600;
    width: 165px;
    height: 60px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.shop .card .btn-1:hover {
    background-color: #FFEAD1;
    color: #CD985B;
}

.shop .card .btn-2 {
    border-style: none;
    background-color: #FFEAD1;
    color: #CD985B;
    font-size: 19px;
    font-weight: 600;
    width: 165px;
    height: 60px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.shop .card .btn-2:hover {
    background-color: #CD985B;
    color: #FFEAD1;
}

.shop .card .btn-3 {
    margin-top: 15px;
    border-style: solid;
    background: none;
    border-color: #CD985B;
    border-width: 3px;
    color: #CD985B;
    font-size: 19px;
    font-weight: 600;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.shop .card .btn-3:hover {
    background-color: #CD985B;
    color: #FFEAD1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #CD985b;
    text-align: center;
    padding: 11.7px 0;
    color: #FFF;
    font-size: 12px;
    transition: 0.5s;
}

body.dark-mode .footer {
    background-color: #181818;
    color: #CD985B;
}
